*.iml
.gradle/
.idea/
.kotlin/
.DS_Store
/build
/app/build
/captures
local.properties
*.apk
*.aab
*.ap_
*.dex
.cxx/
keystore.properties
*.jks
*.keystore
!signing/domofon.jks
docker/.env
docker/bridge-data/
